li {
  border: 1px solid black;
  height: 24px;
}
.container{
  background: orange;
}
.container ul li{
  background: blue;
}
.container-fluid ul li{
  background: cyan;
}
ul li.black-sheep{
  background: black;
}
